html,
body {
  height: 100%;
}
img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

#spinnerModal .modal-dialog{
  height: calc(100% - 56px);
}