.swiper-base-container {
    .swiper-img {
        height: 15.625rem;
        background-size: cover;
        background-position: center center;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .more {
        opacity: 0;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .swiper-slide:hover .swiper-img {
        transform: scale(1.03);
        box-shadow: 4px 1px 10px #555;
        opacity: 0.7;
    }
    .swiper-slide:hover .more {
        opacity: 1;
        transform: scale(1.03);
    }
}
