.order-page,
.cart-page {
  .total-container{
    letter-spacing: .25em;
  }
    table {
      letter-spacing: .25em;
      thead {
        letter-spacing: .5em;
      }
      .input-group{
        flex-wrap: nowrap;
        input{
          min-width: 50px;
        }
      }
    }
    .product-img {
      min-height: 5.625rem;
      background-size: cover;
      background-position: center center;
    }
    .product-img,
    .voucher-text,
    .delProductItem{
      cursor: pointer;
    }
    .row{
      margin: 0;
    }
  }