.order-page,
.cart-page {
  .total-container{
    border-bottom: 1px solid #dee2e6;
    letter-spacing: .25em;
    .text-bg:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      background: rgba(238, 238, 238, .6);
      z-index: -1;
    }
  }
    table {
      letter-spacing: .25em;
      thead {
        letter-spacing: .5em;
      }
      .input-group{
        flex-wrap: nowrap;
        input{
          min-width: 50px;
        }
      }
    }
    .product-img {
      min-height: 5.625rem;
      background-size: cover;
      background-position: center center;
    }
    .product-img,
    .voucher-text,
    .delProductItem{
      cursor: pointer;
    }
    .row{
      margin: 0;
    }
  }

.purchase-container{
  cursor: pointer;
  border: 2px solid #e2e2e2;
}
.purchase-container.active{
  border: 2px solid #ff6855;
}
.purchase-container .purchase-content::before{
  position: absolute;
  top: 50%;
  left: 0px;
  content: "";
  height: 25px;
  width: 25px;
  transform: translateY(-50%);
  transition: all .3s;
  border-radius: 50%;
  border: 2px solid #e2e2e2;
}
.purchase-container.active .purchase-content::before{
  background-color: #F47373;
}
.purchase-content::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transition: all .3s;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  height: 12px;
  transform: translate(160%, -60%) rotateZ(45deg);
  width: 6px;
}