.banner-container {
    min-height: 400px;
    height: calc(100vh - 56px);
    background-image: url('@/assets/image/banner-cat.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    .banner-content {
      max-width: 400px;
      right: 0;
      a {
        color: white;
        background-color: rgba($color: #000000, $alpha: .45);
        transition: all .5s ease;
  
        &:hover {
          color: rgba($color: #000000, $alpha: .5);
          background-color: rgba($color: white, $alpha: .5);
        }
      }
      p, a{
        background-color: rgba($color: #000000, $alpha: .45);
        backdrop-filter: blur(5px);
      }
    }
  }

  @media screen and (max-width: 992px){
    .banner-container{
      height: calc(100vh - 56px);
    }
}