.category{
    .category-item{
        cursor: pointer;
        transition: all .4s ease;

        img{
            height: 10em;
            width: 10em;
        }

        &:active,
        &:hover{
            transform: scale(1.1);
        }
    }
}