.introduction-content{
  .introduction-item{
    flex: 1;
    &:first-child p{
      text-indent: 2em;
    }
    p {
      text-align: justify;
    }
  }
  .introduction-img {
    height: 100%;
    border-radius: 0px 1rem 1rem 0px;
  }
}
