body{
  margin: 0;
  padding: 0;
  list-style: none;
  ul,ol{
    margin: 0;
    padding: 0;
  }
}
.main-container{
  min-height: 100vh;
}
.container-title>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c5c53;
    font-size: 2em;
  }
  
  .container-title>h2::before,
  .container-title>h2::after {
    content: '';
    height: 5px;
    width: 40px;
    background-color: #6c5c53;
  }
  
  .container-title>h2::before {
    margin-right: 10px;
  }
  
  .container-title>h2::after {
    margin-left: 10px;
  }
  
  .content-shadow {
    box-shadow: 0 0 30px #ccc;
  }

.shopping-img{
  height: 180px;
}