.category{
    .category-item{
        cursor: pointer;
        transition: all .4s ease;

        img{
            height: 7em;
            width: 7em;
        }

        &:hover{
            transform: scale(1.1);
        }
    }
}