.header-container{
    .nav-brand-container{
        .title-icon {
            height: 2.5em;
            filter: drop-shadow(#fff 2.5em 0);
            margin-left: -2.5em;
        }
        .title-content{
            height: 2.5em;
        }
    }
    .nav-item {
        transition: all .4s ease;
        &:hover{
            transform: translateY(-5px);
        }
        .cartNumber{
            background-color: #ca7658;
            left: 1.25em;
            top: .25em;
            height: 1.25em;
            width: 1.25em;
        }
    }
}

@media screen and (max-width: 992px){
    .header-container{
        .nav-item{
            .cartNumber{
                left: 1em;
            }
        }
    }
}