.image-container {
    cursor: pointer;
    .btn {
        transition: all .4s ease;
        opacity: 0;
    }

    &:hover .btn {
        opacity: .9;
    }

    .productImg {
        height: 250px;
        transition: all ease .3s;
    }

    &:hover .productImg {
        scale: 1.1;
        opacity: .7;
    }

}