.header-container{
    button{
        border-color: #aaa;
    }
    .nav-brand-container{
        .title-icon {
            height: 2rem;
            filter: drop-shadow(#fff 2rem 0);
            margin-left: -2rem;
        }
        .title-content{
            height: 1.75rem;
        }
    }
    .nav-item {
        transition: all .4s ease;
        &:hover{
            transform: translateY(-5px);
        }
        .cartNumber{
            background-color: #ca7658;
            left: 1.25rem;
            top: .25rem;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1.125rem;
        }
    }
}
@media screen and (max-width: 992px){
    .header-container{
        .nav-item{
            span{
                margin-left: .5rem;
            }
            .cartNumber{
                left: 1rem;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .header-container{
        .nav-item{
            .cartNumber{
                left: 10px;
            }
        }
    }
}